{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- CSS -->

<link href="/plugins/wufoo/form.css" rel="stylesheet">
<link href="/plugins/wufoo/form-structure.css" rel="stylesheet">
<link href="/plugins/wufoo/theme.css" rel="stylesheet">

<!-- JavaScript -->
<script src="/plugins/wufoo/wufoo.js"></script>

<!--[if lt IE 10]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{ if site.Params.map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Find me on Google Map</h2>
      </div>
      <div class="col-12">
        {{ with site.Params.map }}
        {{"<!-- Google Map -->" | safeHTML}}
        <div class="shadow" id="map" data-latitude="{{ .map_latitude }}" data-longitude="{{ .map_longitude }}"
          data-marker="{{ .map_marker | absURL }}" data-marker-name="{{ site.Title }}" style="height: 400px;"></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>We’d love to hear from you!</h3>
        <h5>Call:&nbsp;<b>1-877-667-6484<br>
</b>Email:&nbsp;<a href="mailto:hello@cakewalkdesign.com">hello@cakewalkdesign.com</a><br>
Or use the form below to get in touch.</h5>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 contact-form">
  
<form name="contact" class="contact-form width-normal" action="/thank-you/" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Name"></label>
        <div class="col-md-4">
            <input id="contact-form-name" name="Name" type="text" placeholder="Name" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Email"></label>
        <div class="col-md-4">
            <input id="contact-form-email" name="Email" type="email" placeholder="Email Address" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Subject"></label>
        <div class="col-md-4">
            <input id="contact-form-subject" name="Subject" type="text" placeholder="Subject" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Textarea -->
    <div class="form-group">
        <label class="col-md-4 control-label" for=""></label>
        <textarea class="form-control" id="contact-form-message" name="Message" placeholder="What's up?" rows="8"></textarea>
    </div>
    <!-- Button -->
    <div class="form-group">
        <button type="submit" value="Submit" id="Form-submit" class="btn btn-primary">Submit</button>
    </div>
</form>


      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Follow us on Social</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{.URL}}"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}