{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Params.map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Find me on Google Map</h2>
      </div>
      <div class="col-12">
        {{ with site.Params.map }}
        {{"<!-- Google Map -->" | safeHTML}}
        <div class="shadow" id="map" data-latitude="{{ .map_latitude }}" data-longitude="{{ .map_longitude }}"
          data-marker="{{ .map_marker | absURL }}" data-marker-name="{{ site.Title }}" style="height: 400px;"></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Follow me on Social</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{.URL}}"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-12 contact-form">

<div id="wufoo-mmtg55j1umkeoy">
Fill out my <a href="https://cakewalkdesign.wufoo.com/forms/mmtg55j1umkeoy">online form</a>.
</div>
<script type="text/javascript">var mmtg55j1umkeoy;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'cakewalkdesign',
'formHash':'mmtg55j1umkeoy',
'autoResize':true,
'height':'657',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { mmtg55j1umkeoy = new WufooForm();mmtg55j1umkeoy.initialize(options);mmtg55j1umkeoy.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>



      </div>
    </div>
  </div>
</section>

{{ end }}