{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- CSS -->

<link href="/plugins/wufoo/form.css" rel="stylesheet">
<link href="/plugins/wufoo/form-structure.css" rel="stylesheet">
<link href="/plugins/wufoo/theme.css" rel="stylesheet">

<!-- JavaScript -->
<script src="/plugins/wufoo/wufoo-project-request.js"></script>

<!--[if lt IE 10]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 contact-form">

<form name="contact" class="contact-form width-normal" action="/thank-you/" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <!-- Text input-->
    <div class="row form-group" style="margin: 0;">
        <div class="col-md-3">
          <label class="control-label" for="First Name"></label>
            <input id="contact-form-name" name="First Name" type="text" placeholder="First Name" class="form-control input-md" required="yes" autocomplete="off">
        </div>
       <div class="col-md-3">
        <label class="control-label" for="Last Name"></label>
            <input id="contact-form-name" name="Last Name" type="text" placeholder="Last Name" class="form-control input-md" required="yesy" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-6 control-label" for="Email"></label>
        <div class="col-md-6">
            <input id="contact-form-email" name="Email" type="email" placeholder="Email Address" class="form-control input-md" required="yes" autocomplete="off">
        </div>
    </div>

    <!-- Textarea -->
    <fieldset>
      <legend>
      What kind of Project Work Do You Need Assistance with?
      </legend>
    <label>What Kind of Project? <select name="role[]" multiple>
      <input type="radio" value="custom">Custom website design and development</option>
      <input type="radio" value="template">Winery website template modifications</option>
      <input type="radio" value="integration">Store and ecommerce integration</option>
      <input type="radio" value="agency">Design agency partnership request</option>
      <input type="radio" value="maintenance">Website assistance and maintenance</option>
      <input type="radio" value="general assistance">I need help with something not listed</option>
    </select></label>
    </fieldset>

    <!-- Textarea -->
    <div class="form-group">
        <label class="col-md-6 control-label" for=""></label>
        <textarea class="form-control" id="contact-form-message" name="Message" placeholder="Give us a quick summary of the project." rows="8"></textarea>
    </div>
    <!-- Button -->
    <div class="form-group">
        <button type="submit" value="Submit" id="Form-submit" class="btn btn-primary">Submit</button>
    </div>
</form>


      </div>
    </div>
  </div>
</section>

{{ end }}