<!-- page title -->
<section class="page-title bg-primary position-relative cup-cake-banner overflow-hidden">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
    <div class="layer" id="l2">
      <img src="/images/illustrations/dots-cyan.svg" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
      <img src="{{`images/confetti-72-93.png` | relURL}}" alt="72x93">
    </div>
    <div class="layer" id="l5">
      <img src="{{`images/confetti-346-285.png` | relURL}}" alt="346x285">
    </div>
    <div class="layer" id="l8">
      <img src="{{`images/confetti-84-68.png` | relURL}}" alt="84x68">
    </div>
    <div class="layer" id="l9">
      <img src="{{`images/confetti-161x120.png` | relURL}}" alt="161x120">
    </div>
</section>
<!-- /page title -->
